<html>
  <head>
    <title>Book List</title>
  </head>
  <body>
    <h1>Book List</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Link</th>
      </tr>
      {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>
          {% if book.id %}
            <a href="/books/{{ book.id }}">View</a>
          {% else %}
            N/A
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <a href="/new_book">Add new book</a>
  </body>
</html>
